<%- include('../layouts/adminHeader.ejs') %>
  <!-- <form action="/adminhome" method="post"> -->


  <div class="d-flex flex-row">
    <div class="row">
      <div class="col-md-6">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <!-- Sidebar content goes here -->
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard</span>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/loadUser" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">user List</span>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/loadCategory" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Category</span>

              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/productList" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Product List</span>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/addquantity" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Quantity List</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    </form>

    <%- include('../layouts/adminFooter.ejs') %>