<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="csss/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(images/login_image.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an account?</h3>
		      	<form action="/login"  method="post"class="signin-form">
		      		<div class="form-group">
		      			<input type="email" class="form-control" name="email" placeholder="Email:" >
		      		</div>
					  <div class="form-group">
						<input id="password-field" type="password" name="password" class="form-control" placeholder="Password" >
						<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					  </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">LOGIN</button>
	            </div>
				<%=(typeof message!=='undefined')?message:""%>
	            <!-- <div class="form-group d-md-flex">

		        </div> -->
				<div class="w-60 text-center mb-4" >
				<a href="/forgotpassword" style="color: white">Forgot Password??</a>
				<p class="fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
					class="link-danger">Register</a></p>
				</div>
	            </div>
	          </form>
	        
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

