<!DOCTYPE html>
<html lang="en">

<head>
    <title>Parfum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Custom Styles -->
    <style>
        .product-card {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 200px;
            padding-top: 20px;
            /* Add padding to the top */
            transition: box-shadow 0.3s ease;
        }

        .product-card:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        .product-card img {
            width: 180px;
            height: 150px;
            padding-left: 10px;
        }

        .product-card .product-info {
            width: 200px;
        }

        .product-card h6 {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .product-card p {
            margin-bottom: 10px;
        }
    </style>
</head>



<body>
    <header>
        <nav class="navbar navbar-light"style="background-color: #D6AC96">
            <div class="container">
                <!-- Logo desktop -->
                <a href="#" class="logo">
                    <img src="images/Parfumblack.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="index.html">HOME</a>
                        </li>

                        <li>
                            <a href="/showProduct">SHOP ALL</a>
                        </li>

                        <li>
                            <a href="#">ABOUT</a>
                        </li>

                        <li>
                            <a href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <div class="cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart">
                        <ul>
                            <% if (locals.User) { %>
                                <li><a href="/logout">logout</a></li>
                                <% } else { %>
                                    <li><a href="/login">Login</a></li>
                                    <% } %>
                        </ul>
                    </div>

                    <div class="cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>

                    <a href="#" class="cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-area categorie-page p-5">
        <div class="container">
            <div class="row">
                <% products.forEach(product=> { %>
                    <% if (product.is_listed) { %>
                        <div class="col-lg-3">
                            <a href="/productdetail/<%= product._id %>" class="product-card-link">
                            <div class="product-card">
                                <img class="img-fluid" src="/uploads/<%= product.images[0] %>" alt="">
                                <div class="product-info">
                                </a>
                                    <h6>
                                        <%= product.name %>
                                    </h6>
                                    <p>
                                        <%= product.price %>
                                    </p>
                                    <a href="#" class="site-btn btn-line">ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% }); %>
            </div>
        </div>
    </div>

    <!-- JavaScript files -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>